{% extends 'base.html' %}

{% block title %}Home - Ethan Kimmel{% endblock %}
{% load static %}

{% block content %}<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="profile-section">
    <img src="{% static 'img/Headshot.jpg' %}" alt="Profile Picture" class="rounded-circle" width="180">
    <h1>Hello, I'm Ethan.</h1>
    <p>
        I'm an undergraduate computer engineering student at Georgia Tech, specializing in extended reality and head-worn display technology.
        I enjoy both conducting research and developing applications in the AR/VR space.
    </p>
</div>
{% endblock %}
