{% extends 'base.html' %}

{% block title %}Home - Ethan Kimmel{% endblock %}
{% load static %}

{% block content %}

<div class="container py-4">
    <div class="row align-items-center">
        <!-- Left Column: About Me Text -->
        <div class="col-lg-6 text-left text-lg-start mb-5">
            <h1 class="display-4 fw-bold text-light">Hi, I'm Ethan, I develop XR experiences.</h1>
            <p class="lead">
                I'm an undergraduate computer engineering student at Georgia Tech, specializing in extended reality and
                head-worn display technology. I enjoy both conducting research and developing applications in the AR/VR space.
            </p>
        </div>

        <!-- Right Column: Profile Image -->
        <div class="col-lg-6 text-center">
            <img src="{% static 'img/Headshot.jpg' %}" alt="Profile Picture" class="img-fluid shadow" width="500rem">
        </div>
    </div>
</div>

{% endblock %}
