<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="bg-dark text-light d-flex flex-column min-vh-100">

<!-- Navbar -->
<nav class="navbar border-bottom border-secondary">
    <div class="d-flex">
        <div class="nav-links">
            <a href="{% url 'home' %}" class="title-link">Ethan Kimmel</a>
            <div class="vertical-separator me-4"></div>
            <div class="nav-links d-flex">
              <a href="{% url 'project_list' %}">Projects</a>
              <a href="{% url 'skill_list' %}">Skills</a>
            </div>
        </div>
    </div>
</nav>


    <!-- Main Content -->
    <main class="flex-fill content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center text-muted py-3 border-top border-secondary">
        <div class="container">
            <div class="social-media mt-2">
                <!-- Example social icons -->
                <a href="https://github.com/yourusername" target="_blank">GitHub</a>
                <a href="https://linkedin.com/in/yourusername" target="_blank">LinkedIn</a>
            </div>
            <small>&copy; 2025 Ethan Kimmel</small>
        </div>
    </footer>

</body>
</html>
